<!DOCTYPE html>
<html>
  <head>
    <title>Mapa</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
var mark;
var map;
var markers = [];


function initialize() {

  mark=0;
  var mycenter = new google.maps.LatLng(25.726406, -100.31190379999998);
  var mapOptions = {
    zoom: 15,
    center: mycenter,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // LLamada a addMarker() si el mapa el mapa es clickeado.
  google.maps.event.addListener(map, 'click', function(event) {
    addMarker(event.latLng);
  });
}

// agreaga marker y valores de lat y lon en array.
function addMarker(location) {
          if (mark < 2){
                  var marker = new google.maps.Marker({
                    position: location,
                    map: map
                  });

                  var infowindow = new google.maps.InfoWindow({

                    content: 'Latitud: ' + location.lat() + '<br>Longitud: ' + location.lng()

                  });

                infowindow.open(map,marker);
                markers.push(marker);
                  }
                  mark++;
                }


// Muestra todos los markers.
function setAllMap(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

// Quita los marcadores del mapa.
function clearMarkers() {
  setAllMap(null);
  mark = 0;
}

// Muestra los marcadores en el mapa.
function showMarkers() {
  setAllMap(map);
}

// Quita los marcadores del array y el mapa.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="panel">
      <input onclick="clearMarkers();" type=button value="Esconde Markers">
      <input onclick="showMarkers();" type=button value="Muestra Markers">
      <input onclick="deleteMarkers();" type=button value="Borra Markers">
    </div>
    <div id="map-canvas"></div>
    <p>Click on the map to add markers.</p>
  </body>
</html>


google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>

<body>
<div id="googleMap" style="width:100%;height:550px;"></div>
</body>
</html>